# Flutter
.dart_tool/
.packages
.pub/
build/
*.iml
.idea/
.metadata

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/*.xcworkspace

# Web
web/build/

# Firebase
.firebase/
firebase-debug.log

# IDE
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
